* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #F0F0F0;
  font-size: 16px;
  font-family: sans-serif;
  color: #333333; }

video {
  width: 100%;
  align-content: center; }

.container {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #FFFDF7; }
  @media screen and (max-width: 480px) {
    .container {
      width: 90%; } }

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both; }

.captions p {
  font-size: 1.25em;
  line-height: 1.5;
  padding: 0.5% 5%; }
  @media screen and (max-width: 480px) {
    .captions p {
      font-size: 1em; } }

.highlight {
  color: #E88C0B; }

.hidden {
  display: none; }

.video-container {
  position: relative; }
  .video-container #player {
    position: absolute;
    bottom: 5px;
    height: 25px;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.1); }
  .video-container video::cue {
    font-size: .75em;
    z-index: 1200; }
  .video-container:hover #control-bar {
    display: flex; }
  .video-container:hover #player {
    height: 75px; }

#timeline-bar {
  height: 25px;
  width: 100%;
  padding: 10px 0; }
  #timeline-bar #timeline {
    position: relative;
    display: block;
    width: 95%;
    height: 5px;
    border-radius: 5px;
    margin: 0px auto;
    background-color: rgba(200, 200, 200, 0.4); }
  #timeline-bar #progress,
  #timeline-bar #buffer {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 5px; }
    #timeline-bar #progress[value],
    #timeline-bar #buffer[value] {
      appearacne: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      /* removes default border in FireFox */
      border: none; }
  #timeline-bar #progress {
    z-index: 1000; }
    #timeline-bar #progress::-webkit-progress-bar {
      background-color: transparent; }
    #timeline-bar #progress::-moz-progress-bar {
      background-color: transparent; }
    #timeline-bar #progress::-webkit-progress-value {
      background-color: #E88C0B;
      border-radius: 5px; }
    #timeline-bar #progress::-moz-progress-value {
      background-color: #E88C0B;
      border-radius: 5px; }
  #timeline-bar #buffer {
    z-index: 900; }
    #timeline-bar #buffer::-webkit-progress-bar {
      background-color: transparent; }
    #timeline-bar #buffer::-moz-progress-bar {
      background-color: transparent; }
    #timeline-bar #buffer::-webkit-progress-value {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 5px; }
    #timeline-bar #buffer::-moz-progress-value {
      background-color: rgba(255, 255, 255, 0.6);
      border-radius: 5px; }

#control-bar {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 10px 5%; }
  #control-bar button {
    flex-basis: 5%;
    background-color: transparent;
    border: none;
    outline: none; }
    #control-bar button:hover {
      cursor: pointer; }
    @media screen and (max-width: 480px) {
      #control-bar button {
        background-size: contain; } }
  @media screen and (max-width: 480px) {
    #control-bar {
      height: 25px; } }

#time {
  flex-basis: 35%;
  color: #FFFFFF;
  vertical-align: middle; }
  @media screen and (max-width: 480px) {
    #time {
      font-size: .75em; } }

#play-pause {
  margin-left: 0;
  width: 22px;
  height: 26px;
  background: url("../icons/play-icon.png") no-repeat; }

#volume {
  width: 22px;
  height: 22px;
  background: url("../icons/volume-on-icon.png") no-repeat; }

input[type=range] {
  -webkit-appearance: none;
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #E88C0B;
  margin-top: -5px; }

#vol-slider {
  flex-basis: 20%;
  width: 15%;
  max-width: 200px;
  vertical-align: middle; }
  @media screen and (max-width: 480px) {
    #vol-slider {
      display: none; } }

#fullscreen {
  width: 22px;
  height: 22px;
  margin-right: 0;
  background: url("../icons/fullscreen-icon.png") no-repeat; }

#cc {
  font-size: 1.2em;
  line-height: 1.2em;
  color: rgba(255, 255, 255, 0.6); }
  #cc.showing {
    color: #FFFFFF; }
  @media screen and (max-width: 480px) {
    #cc {
      font-size: 1em; } }

.captions span:hover {
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
