//BASE PLAYER BUTTON 
@mixin player-button {
        flex-basis: 5%;
        height: 30px;
        padding: 0; 
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center; 
        background-size: 50%;
        border: none;
        outline: none;
    
    &:hover {
        cursor: pointer; 
    }
    
    @include tablet {
        background-size: 65%;
    }
    
    @include phone {
        flex-basis: 7%;
        background-size: 70%; 
    }
}


//VIDEO PROGRESS BARS 
@mixin progress-bar {
        position: absolute;
        display: block; 
        width: 100%;
        height: 5px;
        border-radius: 5px;
    
    &[value] {
        appearacne: none; 
        -webkit-appearance: none;
        -moz-appearance: none;
        /* removes default border in FireFox */
        border: none;
    }
}

@mixin vendor-progress-value { 
        background-color: $highlight-color; 
        border-radius: 5px;
}

@mixin vendor-buffer-value {
    background-color: $buffer-value-color;   
    border-radius: 5px; 
}

@mixin vendor-progress-bar {
    background-color: transparent;
}      

//MEDIA BREAKPOINTS 

@mixin phone {
    @media screen and (max-width: #{$phone-width}) {
        @content; 
        
    }
}

@mixin tablet {
    @media screen and (max-width: #{$tablet-width}) {
        @content; 
    
    }
}
