$body-bg-color  :   #F0F0F0; 
$cont-bg-color  :   #FFFDF7; 

$primary-text-color :      #333333;   
$highlight-color    :      #E88C0B; 

$player-bg-color    :      rgba(10,10,10,.1); 
$buffer-value-color :      rgba(255,255,255,.6);
$cc-off-color       :      rgba(255,255,255,.6);
$cc-on-color        :      #FFFFFF;