.video-container { 
    position: relative;
    
    #player {
        position: absolute; 
        bottom: 5px; 
        height: 25px; 
        width: 100%;
        background-color: $player-bg-color;
    }
    
    video::cue {
        line: 25%;
        font-size: .75em; 
        z-index: 1200;
    }
    
    video::-webkit-media-text-track-container {

    }
    
    &:hover {
        
        #control-bar {
        display: flex;
        }
        
        #player {
        height: 75px;
        }
    }  
}

#timeline-bar{ 
    height: 25px; 
    width: 100%;
    padding: 10px 0;

    #timeline {
        position: relative;
        display: block;
        width: 95%; 
        height: 5px; 
        border-radius: 5px; 
        margin: 0px auto;
        background-color: rgba(200,200,200,.4)
    }
    
    #progress, 
    #buffer {
        @include progress-bar;
    }
    
    
    #progress {
        z-index: 1000;
        
        &::-webkit-progress-bar {
            @include vendor-progress-bar;
        }
        
        &::-moz-progress-bar {
            @include vendor-progress-bar;
        }
        
        &::-webkit-progress-value {
            @include vendor-progress-value; 
        }
        

        &::-moz-progress-value {
             @include vendor-progress-value; 
        }
    }
    
    #buffer {
        z-index: 900; 
        
        &::-webkit-progress-bar {
            background-color: transparent;             
        }
        
        &::-moz-progress-bar {
            background-color: transparent;             
        }
        
        &::-webkit-progress-value {
            @include vendor-buffer-value;         
        }
    
        &::-moz-progress-value {
            @include vendor-buffer-value;           
        }
    }
    

    
}

#control-bar { 
    display: none;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    height: 50px; 
    width: 100%; 
    padding: 1% 5%;
    
    button {
        @include player-button; 
    }
    
    @include phone {
        height: 25px; 
    }
    
}

#time {
    flex-basis: 55%;
    color: #FFFFFF;
    vertical-align: middle; 
    
    @include phone {
        font-size: .75em; 
    }
}

#play-pause { 
    background-image: url('../icons/play-icon.png');
}

#volume {
    background-image: url('../icons/volume-on-icon.png'); 
}

input[type=range] { 
    -webkit-appearance: none;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 30px;
	height: 5px;
	background: transparent;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: $highlight-color;
	margin-top: -5px;
}

#vol-slider {
    flex-basis: 10%; 
    vertical-align: middle; 
    @include tablet {
        display: none; 
    }
}

#fullscreen {
    margin-right: 0;
    background-image: url('../icons/fullscreen-icon.png');
}

#cc {
    font-weight: bold; 
    font-size: 1.2em;
    color: $cc-off-color;

    &.showing {
        color: $cc-on-color;
    }
    
    @include phone {
        font-size: 1.1em;
    }
}

.captions span:hover {
    cursor: pointer;
}